<p> There are {{totalCarParts()}} total parts in stock.</p> 
<ul>      
    <li class="card" *ngFor="let carPart of carParts" [class.featured]="carPart.featured">
        <div class="panel-body">
            <table class="product-info">
                <tr>
                    <td>
                        <div class="photo">
                            <img [src]="carPart.image" (mouseover)="getCoord($event, carPart)">
                        </div>
                    </td>
                    <td>
                        <h2>{{carPart.name | uppercase}}</h2>
                        <p class="description">{{carPart.description}}</p>                        
                        <p *ngIf="carPart.inStock > 0">{{carPart.inStock}} in Stock</p>
                        <p *ngIf="carPart.inStock === 0">Out of Stock</p>
                    </td>                    
                    <td class="price">{{carPart.price | currency:'EUR':true}}</td>
                    <td>
                        <div class="select-quantity">
                            <button class="decrease" (click)="downQuantity(carPart)">-</button>
                            <p>{{carPart.quantity}}</p>
                            <button class="increase" (click)="upQuantity(carPart)">+</button>
                        </div>
                        <input type="text" (keydown)="showKey($event)">
                    </td>
                </tr>
            </table>
        </div>
    </li>
</ul>
