<div class="container text-center">
  <img src="assets/img/pomodoro.png" alt="Pomodoro" >
  <h3>{{queuedPomodoros | i18nPlural:queueHeaderMapping}}
    for today
    <span class="small" *ngIf="queuedPomodoros > 0">
    (Estimated time: {{ queuedPomodoros * 25 }})</span>
  </h3>
  <p>
    <span *ngFor="let queuedTask of tasks">
      <app-icons  *ngIf="queuedTask.queued" [task]="queuedTask" size="70"
        (mouseover)="tooltip.innerText = queuedTask.name"
        (mouseout)="tooltip.innerText = 'Mouseover for details'">
      </app-icons>
    </span>
  </p>
<p #tooltip *ngIf="queuedPomodoros > 0">Mouseover for details</p>
  <h4>Tasks backlog</h4>
</div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Task ID</th>
          <th>Task name</th>
          <th>Delivered by</th>
          <th>Pomodoros</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks;let i = index">
          <th scope="row">{{i+1}}
            <span *ngIf="task.queued" class="label label-info">
              Queued
            </span>
          </th>
          <td>{{task.name | slice:0:35}}
            <span [hidden]="task.name.length < 35">...</span>
          </td>
          <td>{{task.deadline | date: 'fullDate'}}
            <span *ngIf="task.deadline < today" class="label label-danger">
              Due
            </span>
          </td>
          <td class="text-center">{{task.pomodorosRequired}}</td>
          <td>
            <button type="button" class="btn"
              (click)="toggleTask(task)"
              [ngSwitch]="task.queued">
              <div *ngSwitchCase="false">                
                Add
              </div>
              <div *ngSwitchCase="true">                
                Remove
              </div>
              <div *ngSwitchDefault>                
                Add
              </div>
            </button>
          </td>
        </tr>      
      </tbody>
    </table>
  </div>
