<div class = "container text-center">
  <h3 taskUnderline>
    {{ queuedPomodoros | i18nPlural: queueHeaderMapping }} for today
    <span class="small" *ngIf="queuedPomodoros > 0"> (Estimated time:
    {{ queuedPomodoros * timerMinutes | pomodoroFormattedTime }})
    </span>
  </h3>
  <p>
    <span
      *ngFor="let queuedTask of tasks | pomodoroQueuedOnly: true">
      <pomodoro-task-icons [task]="queuedTask" size="50">
      </pomodoro-task-icons>
    </span>
  </p>

  <h4>Tasks backlog</h4>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Task ID</th>
        <th>Task name</th>
        <th>Delivered by</th>
        <th>Pomodoros</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks;let i = index">
        <th scope="row">{{i+1}}
          <span *ngIf="task.queued" class="label label-info">
             Queued
          </span>
        </th>
        <td taskUnderline>{{task.name | slice:0:35}}
          <span [hidden]="task.name.length < 35">...</span>
        </td>
        <td taskUnderline>{{task.deadline | date: 'fullDate'}}
          <span *ngIf="task.deadline < today" class="label label-danger">
             Due
          </span>
        </td>
      <td class="text-center">{{task.pomodorosRequired}}</td>
        <td>
          <button type="button" class="btn"
             (click)="toggleTask(task)"
             [ngSwitch]="task.queued">
            <div *ngSwitchCase="false">                
               Add
            </div>
            <div *ngSwitchCase="true">                
               Remove
            </div>
            <div *ngSwitchDefault>                
               Add
            </div>
          </button>
        </td>
      </tr>      
    </tbody>
  </table>
</div>